<br/>
<button {{action 'edit'}}>Edit</button>
<button {{action 'delete' this}}>Delete</button>
<button {{action 'addComment'}} id="add-comment">Add Comment</button>
<br/>
<br/>
<div class="arrow-up" id="up-vote" {{action 'upVote' this}}></div>Vote Up
<br/>
<br/>
<div class="arrow-down" id="down-vote" {{action 'downVote' this}}></div>Vote Down