<h2>{{title}}</h2>

<div class="post-body">{{body}}</div>
<br/>
<span class="post-votes">Vote Total: {{votes}}</div>

<div class="comments">
  {{#each comment in comments}}
    <p>{{comment.body}}</p>
  {{else}}
    <p>This post has no comments.</p>
  {{/each}}
</div>


{{outlet}}